awsebcli
bidict
blinker
botocore
cement
certifi
cffi
charset-normalizer
click
colorama
decorator
dnspython
docker
eventlet
ffmpeg-python
Flask
Flask-SocketIO
future
greenlet
h11
idna
imageio
imageio-ffmpeg
itsdangerous
Jinja2
jmespath
MarkupSafe
moviepy
numpy
opencv-python-headless
pathspec
pillow
proglog
pycparser
pydub
python-dateutil
python-engineio
python-socketio
PyYAML
requests
semantic-version
setuptools
simple-websocket
six
SpeechRecognition
srt
termcolor
tqdm
typing_extensions
urllib3
vosk
wcwidth
websockets
Werkzeug
wsproto
